Services = business logic This separation is common in real codebases
routers = HTTP layer, HTTP logic
schemas = data validation layer, this is like the TS of my python




migrations/
db/connections.py
schemas/
services/
routers/
main.py/
tests/
core/
